<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tienda.abarrotes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Abarrotes App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Abarrotes">

        <!-- SPLASH -->
        <activity
            android:name=".ui.common.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Abarrotes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />

        <!-- SUPERADMIN -->
        <activity
            android:name=".ui.superadmin.SuperAdminActivity"
            android:exported="false" />

        <!-- ADMIN -->
        <activity
            android:name=".ui.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.RegistrarTrabajadorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.EditarTrabajadorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.RegistrarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.EditarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.RegistrarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.EditarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.RegistrarSeccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.EditarSeccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.RegistrarEstanteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.EditarEstanteActivity"
            android:exported="false" />

        <!-- CAJERO -->
        <activity
            android:name=".ui.cajero.CajeroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cajero.DetalleVentaActivity"
            android:exported="false" />

        <!-- REPONEDOR -->
        <activity
            android:name=".ui.reponedor.ReponedorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reponedor.RegistrarReposicionActivity"
            android:exported="false" />



    </application>

</manifest>